html {
  background-color: #343434;
  color: #FFFFFF;
  user-select: none;
}

div {
  outline: 1px solid #FFFFFF;
}

.secret {
  display: none;
}

.expand {
  background-color: #C0C0C0;
  color: #000000;
}
.expandable {
  display: none;
}

.nav-button {
  float: left;
  width: 160px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  line-height: 48px;
}