* {
  color: #fff;
  user-select: none;
}
body {
  background-color: #000;
}

p {
  margin: 0;
}

.marked {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.disabled {
  background-color: #aaa;
}
.unavailable {
  background-color: #ccc;
}

#navbar > div { 
  float: left;
  padding: 10px 12px; 
  margin: 10px 0 0 67px;
  line-height: 20px;
}

.tab.hidden {
  display: none;
}
.tab.visible {
  display: block;
}

.formula > div {
  float: left;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#battle-spiral-stats > .effect > div {
  float: left;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#explanation_r_upgrades > .entry {
  border: 1px solid #fff;
  margin: 20px;
}
#explanation_r_upgrades > .entry > .name {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #aaa;
  text-align: center;
}
#explanation_r_upgrades > .entry > .effect {
  font-size: 1.5em;
  text-align: center;
}
#explanation_r_upgrades > .entry > .cost {
  font-size: 1.5em;
  background-color: #bbb;
  text-align: center;
}

.reward-uncommon {
  background-color: #BBBBBB;
}
.reward-uncommon {
  background-color: #00FFFF;
}
.reward-rare {
  background-color: #EE7800;
}
.reward-onetime {
  background-color: #AA5599;
}
